@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 158 82% 39%; /* emerald-500 */
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 91.2% 59.8%; /* sky-500 */
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 259 92% 66%; /* indigo-500 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 158 82% 39%;
    --chart-1: 158 82% 39%;
    --chart-2: 217.2 91.2% 59.8%;
    --chart-3: 259 92% 66%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 220 40% 6%;
    --foreground: 210 20% 98%;
    --card: 220 40% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 220 40% 8%;
    --popover-foreground: 210 20% 98%;
    --primary: 158 84% 40%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 20% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 20% 15%;
    --muted-foreground: 220 10% 65%;
    --accent: 173 70% 45%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 158 50% 50% / 0.3;
    --input: 220 20% 20%;
    --ring: 158 84% 45%;
    --chart-1: 158 84% 40%;
    --chart-2: 173 70% 45%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
