@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 100% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 100% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 275 100% 25%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 91.1%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 20% 96.1%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 276 100% 50%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88.8%;
    --input: 210 20% 88.8%;
    --ring: 276 100% 50%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 275 20% 5%;
    --foreground: 210 20% 98%;
    --card: 275 20% 8%;
    --card-foreground: 210 20% 98%;
    --popover: 275 20% 5%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 275 100% 25%;
    --secondary: 275 20% 14.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 275 20% 14.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 276 100% 60%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 20% 14.9%;
    --input: 275 20% 14.9%;
    --ring: 276 100% 60%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
